title = "blog"
url = "/blog"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Aucun article trouvé"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "blog-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog"
==
{% set posts = blogPosts.posts %}

<ul class="post-list">
    {% for post in posts %}
        <li>

                    {{ 'winter.blog::lang.post.posted_byline' | trans({
                        date: post.published_at | date('winter.blog::lang.post.date_format' | trans),
                        categories: categoryLinks
                    }) }}
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="info">
                {% if post.categories.count %}
                    
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                {% else %}
                    {{ 'winter.blog::lang.post.posted_byline_no_categories' | trans({
                        date: post.published_at | date('winter.blog::lang.post.date_format' | trans)
                    }) }}
                {% endif %}
            </p>

            <p class="excerpt">{{ post.summary | raw }}</p>
        </li>
    {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}


{% component 'blogCategories' %}