title = "Movie single"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Grcote7\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% if record %}
<h2>{{ record.name }}</h2>

<img src="{{ record.poster.thumb(200,auto) }}" alt="" />

<h4>{{ record.year }}</h4>

<h3>Genres</h3>

{%  for genre in record.genres %}
<a href="/genres/{{ genre.slug }}">
    {{ genre.genre_title }}<br>
</a>
{% endfor %}

<h3>Actors</h3>

{% for actor in record.actors %}
{{ actor.name }} {{ actor.lastname }}<br>
{% endfor %}

<h3>Description</h3>
<p>{{ record.description |raw }}</p>

<h3>Gallery</h3>
<ul class="list-group list-group-horizontal">
    {% for image in record.movie_gallery %}
    <li>
        <a href="{{ image.path }}">
            <img src="{{ image.thumb(80,80, {'mode':'crop'}) }}"
                class="img-thumbnail" alt="" />
        </a>
    </li>
    {% endfor %}
</ul>

{% else %}
{{ notFoundMessage }}
{% endif %}