title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0
==
<?
use Grcote7\Movies\Models\Movie;
function onStart(){
    $this['movies']=Movie::orderby('year', 'desc')->paginate(5);
    $this['name']=Input::get('name');
    if ($this['name']){
        $this['movies']=Movie::where('name', Input::get('name'))->get();
    }
    $this['subMenus'] = [
        ['Add actors'   => 'person-plus'],
        ['Filter Movies'=> 'filter']
    ];
}
?>
==
{% for key, item in subMenus %}
    {% for title, icon in subMenus[key] %}
        <a href="/{{title|slug}}"><button type="button" class="btn btn-outline-primary btn-sm"><i class="bi-{{ icon }}" style="font-size: 1rem; color: cornflowerblue; margin-right:5px;"></i> {{ title }}</button></a>
    {% endfor %}
{% endfor %}

<span class="fi fi-fr"></span> <span class="fi fi-gb"></span>

<div class="ui list">
    {% for movie in movies %}
    <div class="ui segment stacked">
        <h3>
            <a href="/movie/{{ movie.slug }}">{{movie.name}} - {{movie.year}}</a>
        </h3>
        {{ html_limit(movie.description, 150) |raw }}
    </div>
    {% else %}
    <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div>

{% if movies.lastPage > 1 %}
<nav aria-label="Page navigation example"></nav>
    <ul class="pagination">
        {% if movies.currentPage > 1 %}
            <li class="page-item"><a class="page-link"  href="{{ movies.previousPageUrl }}">&larr;</a></li>
        {% endif %}

        {% for page in 1..movies.lastPage %}
            <li class="page-item {{ movies.currentPage == page ? 'active' : null }}">
                <a  class="page-link" href="{{ movies.url(page) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if movies.lastPage > movies.currentPage %}
            <li class="page-item"><a class="page-link" href="{{  movies.nextPageUrl }}">&rarr;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
