title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0
==
<?
use Grcote7\Movies\Models\Movie;
function onStart(){
    $this['movies']=Movie::orderby('year', 'desc')->paginate(5);
    $this['name']=Input::get('name');
    if ($this['name']){
        $this['movies']=Movie::where('name', Input::get('name'))->get();
    }
    $this['movies.lastPage'] =7;
}
?>
==
<a href="add-actors">Add actors</a> |
<a href="filter-movies">Filter Movies</a> |
<a href="search">Search Page</a>

<div class="ui list">
    {% for movie in movies %}
    <div class="ui segment stacked">
        <h3>
            <a href="/movie/{{ movie.slug }}">{{movie.name}} - {{movie.year}}</a>
        </h3>
        {{ html_limit(movie.description, 150) |raw }}
    </div>
    {% else %}
    <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div>
<div>
    {{  movies.render|raw }}
</div>

{{ movies.lastPage }}
<hr>
{% if movies.hasPages %}
    <div class="pagination">
        <div class="item">
            {% if movies.currentPage > 1 %}
                <a href="{{ movies.previousPageUrl }}" rel="prev">«</a>
            {% else %}
                <span class="disabled">«</span>
            {% endif %}
        </div>

        {% for page in range(1, movies.lastPage) %}
            {% if (page<4) or (page>17)  %}
                <div class="item">
                    <a href="{{ movies.url(page) }}">{{ page }}</a>
                </div>
            {% endif %}
        {% endfor %}

        <div class="item">
            {% if movies.hasMorePages %}
                <a href="{{ movies.nextPageUrl }}" rel="next">»</a>
            {% else %}
                <span class="disabled">»</span>
            {% endif %}
        </div>
    </div>
{% endif %}
