title = "Test"
url = "/t"
layout = "Uuu"
is_hidden = 0
==
<?php
function onStart()
{
  // Way 1
  $this['friends_1'] = [
    ['name'      => 'Pierre',
      'lastname' => 'DUPONT',
    ],
    [
      'name'     => 'Paul',
      'lastname' => 'MARTIN',
    ],
  ];

  // Way 2
  $this['friends_2'] = [
    ['Pierre' => 'DUPONT'],
    ['Paul' => 'MARTIN'],
  ];
}
?>
==
Way 1
<ul>
{% for friend in friends_1 %}
    <li>{{ friend.name }} {{ friend.lastname }}</li>
{% endfor %}
</ul>

<hr>

Way 2
<ul>
{% for key, friend in friends_2 %}
    {% for name, lastname in friends_2[key] %}
    <li>{{ name }} {{ lastname }}</li>
    {% endfor %}
{% endfo