{% if movies|length %}

{% for movie in movies %}
<div class="ui segment vertical">
    <h3 class="ui header"><a href="/movie/{{ movie.slug }}">{{ movie.name }}</h3>
    <div class="ui"> {{ movie.year }}</a> </div>
    <div class="ui segment">

        <ul class="ui list bulleted horizontal">
            {% for genre in movie.genres %}
                <li class="item">{{ genre.genre_title }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endfor %}

{% partial 'movies/paginate' %}

{% else %}
<div class="ui message text-center">There are no movies that match the criteria</div>
{% endif %}
