{% if movies.lastPage > 1 %}

<nav aria-label="Page navigation example" id="partialPaginate">
    <ul class="pagination">
        {% if movies.currentPage > 1 %}

        <li class="page-item"><a class="page-link" href="{{ movies.previousPageUrl }}">&larr;</a></li>
        {% endif %}

        {% for page in 1..movies.lastPage %}
        <li class="page-item {{ movies.currentPage == page ? 'active' : null }}">
            <a class="page-link" href="{{ movies.url(page) }}">{{ page }}</a></li>
        {% endfor %}

        {% if movies.lastPage > movies.currentPage %}
        <li class="page-item"><a class="page-link" href="{{ movies.nextPageUrl }}">&rarr;</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
