<ul class="nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Winter Movies</a>
        <h2 class="logo"></h2>
        <li class="nav-item"><a class="nav-link {% if this.page.id == 'homepage' %}active {% endif %}" href="{{ 'homepage' |page }}">Home</a></li>
        <li class="nav-item"><a class="nav-link {% if this.page.id == 'movies' or this.page.id=='movie-single' %}active {% endif %}" href="{{ 'movies' |page }}">Movies</a></li>
    </div>
</ul>
<nav class="nav navbar navbar-expand-lg navbar-light bg-light">
</nav>
<header>
</header>
