title = "T"
url = "/"
layout = "t/bootstrap513"
description = "Page Home pour T"
is_hidden = 0

[twigtips]

[variables]

[session]
security = "all"
==
<?php
function onStart(){
    //$this->addCss(['~/themes/sliderweb-403theme/assets/css/page-t.less']);
    $this['currentUrl'] = $this->pageUrl('');
    $lang = substr($_SERVER['HTTP_ACCEPT_LANGUAGE'], 0, 2);
    $acceptLang = ['fr', 'it', 'en'];
    $this['lang'] = in_array($lang, $acceptLang) ? $lang : 'en';
}
?>
==
{#% component 'demoTodo' %#}

{{  lang }}

<div id="result"></div>

<h1>{{ this.page.title }}</h1>
<hr>
<h2 id="intro">{{ currentUrl }}</h2>
<hr>
<div class="red">Début</div>

<hr>
{# % component 'twigtips' % #}
{# % component 'variables' % #}

{% if user %}
    <p>Salut, {{ user.name }} !</p>
{% else %}
    <p>Pertsonne n'est logué</p>
{% endif %}
<hr>

<div class="red">Fin</div>
<br>
{% if user %}
    <a data-request="onLogout" data-request-data="redirect: '/'" class="btn btn-danger">Sortir</a>
{% else %}
    <a href = "compte" class="btn btn-primary">Se loguer</a>
{% endif %}
