title = "T"
url = "/"
layout = "t/bootstrap513"
description = "Page Home pour T"
is_hidden = 0

[demoTodo]
max = 3
==
<?php
function onStart(){
    $this->addCss(['~/themes/sliderweb-403theme/assets/css/page-t.less']);
    $this['noms']=['MP', 'Lionel', 'Gugu'];
     $this['noms']=['MP'];
}
?>
==


{#% component 'demoTodo' %#}

<div id="result"></div>

<h1>{{ this.page.title }}</h1>
<hr>
<h2>...</h2>
<hr>
<div class="red">Début</div>
<hr>

{% for nom in noms %}
{% set nbr = loop.length %}
{% set der = loop.last %}
{#
{{dump (nbr) }}
{{dump (der) }}
#}
<ul>
    {%if loop.first and nbr >1 %}
    Premier membre
    {% elseif nbr==1 %}
    Un membre unique :
    {% endif %}
    {%if der and nbr>1 %}
    Dernier membre
    {% endif %}
    <li>{{  loop.index}} - {{ nom }}</li>
</ul>
{% if der %}{{ nbr }} membre{% endif %}{% if der %}{% if nbr > 1 %}s{% endif %}{% endif %}{% endfor %}

<hr>
<div class="red">Fin</div>

{% partial "t/partial" author = "Lionel" %}
