==
<!-- Pre-Submission: This is what's displayed before the subscription form has been submitted. -->
<div id="pre-subscribe">
    <div class="row" id="copy">
        <h1>Something <strong>really good</strong> is coming <strong>very soon</strong>.</h1>
        <p>If you have something new you’re looking to launch, you’re going to want to start building a community of
            people interested in what you’re launching. The Launch template by is the best way to do just that.</p>
    </div>

    <div class="row" id="subscribe">
        <!-- Subscription Form: Configure your MailChimp settings within MailChimp Plugin. -->
        <form class="row" id="subscribe-form" data-request="mailSignup::onSignup"
            data-request-update="'mailSignup::result': '#subscribe-form'">
            <input type="email" name="email" id="email" placeholder="your e-mail">
            <button type="submit" name="subscribe" class="button icon submit"></button>
        </form>
    </div>
</div>
