@import url("../../../../aGC7/src//bootstrap513.min.css");
@import url("../../../../aGC7/src/semantic.min.css");
@import url("../../../../aGC7/src/bootstrap-icons-1.8.1/bootstrap-icons.css");

.active {
    color: rgb(24, 1, 154);
    font-weight: bold;
}

.flash {
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    display: none;
}

.flash.active{
    display: block;
}

.flash.error {
    background-color: red;
}

.flash.success {
    background-color: rgb(70, 115, 1);
}

.pagination li .active{
    color:black;
}
.page-link {
    padding: 0.2rem;
}
